<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Web Browser Based File Encryption / Decryption</title>
</head>
<style>
    body {
        font-family: 'Helvetica', 'Arial', 'sans-serif';
        color: black;
        font-size: 11pt;
    }

    a, a:link, a:visited, a:active {
        color: blue;
        text-decoration: underline;
    }

    a:hover {
        cursor: pointer;
        color: red;
    }

    .black10pointcourier {
        font-family: 'courier';
        color: black;
        font-size: 10pt;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .dropzone {
        border: 10px dashed gray;
        width: 94%;
        padding: 2% 2% 5% 2%;
        text-align: center;
        margin: 5px 0 5px 0;
    }

    .divTablefullwidth {
        display: table;
        width: 100%;
    }

    .divTable {
        display: table;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableCell {
        display: table-cell;
        padding: 3px 3px;
    }

    .divTableBody {
        display: table-row-group;
    }

    .greenspan {
        color: green;
    }

    .redspan {
        color: red;
    }
</style>
<body>
<div class=container>
    <div class="divTablefullwidth">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell" style="float: left;">
                    <h1>Untitled Secured File Storage</h1>
                    <h4>Upload your files in a secure way by encrypting them.</h4>
                </div>
                <div class="divTableCell" style="float: right;">
                    <h1>
                        <button id="btnRefresh" onClick="javascript:location.reload();">Refresh Page</button>
                        <button id="btnDivEncrypt" onClick="javascript:switchDiv('encrypt');">Upload a File</button>
                        <button id="btnDivDecrypt" onClick="javascript:switchDiv('decrypt');">Download a File</button>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class=container>
    <hr>
</div>

<div class="container" id="divEncryptFile">
    <h2>Encrypt and Upload a File</h2>
    <p>To upload a file, enter a password and drop the file to be encrypted into the dropzone below. The file will then
        be encrypted using the password and uploaded to the server. A unique ID (UUID) will be generated to download
        the file back. Keep in mind that you will need the same password to decrypt the file at download time.</p>

    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">Password</div>
                <div class="divTableCell"><label for=txtEncPassphrase></label><input id=txtEncPassphrase type=password
                                                                                     size=30
                                                                                     onkeyup=encValidate(); value=''>
                </div>
                <div class="divTableCell">(minimum length eight characters, make sure it is a strong password!)</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">Password (retype)</div>
                <div class="divTableCell"><label for=txtEncPassphraseRetype></label><input id=txtEncPassphraseRetype
                                                                                           type=password size=30
                                                                                           onkeyup=encValidate();
                                                                                           value=''></div>
                <div class="divTableCell"><span class=greenspan id=spnCheckRetype></span></div>
            </div>
        </div>
    </div>

    <p></p>

    <div>
        <div class=dropzone id="encdropzone" ondrop="drop_handler(event);" ondragover="dragover_handler(event);"
             ondragend="dragend_handler(event);">
            <p>Drag and drop the file to be encrypted into this dropzone, or click <a
                    onclick=encfileElem.click();>here</a> to select file.</p>
            <p><span id=spnEncFilename></span></p>
        </div>
        <input type="file" id="encfileElem" style="display:none" onchange="selectFile(this.files)">
    </div>

    <p></p>

    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">
                    <button id=btnEncrypt onclick=encryptFile(); disabled>Encrypt and upload the file</button>
                </div>
                <div class="divTableCell"><span id=spnEncStatus></span></div>
            </div>
        </div>
    </div>

    <p></p>

    <div>
        <a id=aEncSaveFile hidden>
        </a>
    </div>

    <p></p>
</div>

<div class="container" id=divDecryptFile>
    <h2>Download and Decrypt a File</h2>
    <p>Download and Decrypt a file using the password that was previously used to encrypt the file and the UUID
        generated. After the file is
        downloaded, it is decrypted automatically, then you'll a button will appear to save the decrypted file to your
        system.</p>

    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">UUID</div>
                <div class="divTableCell">
                    <input id=inputDecUuid type=text
                           size=36
                           onkeyup=decValidate(); value=''>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">Password</div>
                <div class="divTableCell">
                    <input id=inputDecPassphrase type=password
                           size=36
                           onkeyup=decValidate(); value=''>
                </div>
            </div>
        </div>
    </div>

    <p></p>

    <!--<div>
        <div class=dropzone id="decDropZone" ondrop="drop_handler(event);" ondragover="dragover_handler(event);"
             ondragend="dragend_handler(event);">
            <p>Drag and drop file to be decrypted into this dropzone, or click <a role=button
                                                                                  onclick=decFileElem.click();>here</a>
                to select file.</p>
            <p><span id=spnDecFilename></span></p>
        </div>
        <input type="file" id="decFileElem" style="display:none" onchange="selectFile(this.files)">
    </div>

    <p></p>-->

    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">
                    <button id=btnDecrypt onclick=decryptFile(); disabled>Download and Decrypt a File</button>
                </div>
                <div class="divTableCell"><span id=spnDecStatus></span></div>
            </div>
        </div>
    </div>

    <p></p>

    <div>
        <a id=aDecSaveFile hidden>
            <button>Save Decrypted File</button>
        </a>
    </div>

    <p></p>
</div>

<div class="container">
    <hr>
    <h3>Usage</h3>
    <p>
        Use this web page to upload and download files securely.
        <br/><strong>IMPORTANT</strong>: The same password that was used to encrypt the file must be used to decrypt the file later. If you
        loose or forget the password, it cannot be recovered!
    </p>

    <h3>Cryptography</h3>
    <p>
        All cryptography operations are implemented using using the <a
            href='https://developer.mozilla.org/en-US/docs/Web/API/Web_Crypto_API'>Web Crypto API</a>.
        Files are encrypted using AES-CBC 256-bit symmetric encryption. The encryption key is derived from the password
        and a random salt using PBKDF2 derivation with 10000 iterations of SHA256 hashing.
    </p>

</div>
<BR>
</body>
</html>


<script type="text/javascript">
    let mode = null;
    let objFile = null;

    const divEncryptFile = document.getElementById("divEncryptFile")
    const divDecryptFile = document.getElementById("divDecryptFile")
    const btnDivEncrypt = document.getElementById("btnDivEncrypt")
    const btnDivDecrypt = document.getElementById("btnDivDecrypt")
    const txtEncPassphrase = document.getElementById("txtEncPassphrase")
    const txtEncPassphraseRetype = document.getElementById("txtEncPassphraseRetype")
    const spnCheckRetype = document.getElementById("spnCheckRetype")
    const btnEncrypt = document.getElementById("btnEncrypt")
    const btnDecrypt = document.getElementById("btnDecrypt")
    const inputDecPassphrase = document.getElementById("inputDecPassphrase")
    const inputDecUuid = document.getElementById("inputDecUuid")
    const spnEncFilename = document.getElementById("spnEncFilename")
    const spnDecFilename = document.getElementById("spnDecFilename")
    const spnEncStatus = document.getElementById("spnEncStatus")
    const aEncSaveFile = document.getElementById("aEncSaveFile")
    const spnDecStatus = document.getElementById("spnDecStatus")
    const aDecSaveFile = document.getElementById("aDecSaveFile")

    switchDiv('encrypt');

    function switchDiv(t) {
        if (t === 'encrypt') {
            divEncryptFile.style.display = 'block';
            divDecryptFile.style.display = 'none';
            btnDivEncrypt.disabled = true;
            btnDivDecrypt.disabled = false;
            mode = 'encrypt';
        } else if (t === 'decrypt') {
            divEncryptFile.style.display = 'none';
            divDecryptFile.style.display = 'block';
            btnDivEncrypt.disabled = false;
            btnDivDecrypt.disabled = true;
            mode = 'decrypt';
        }
    }

    function encValidate() {
        if (txtEncPassphrase.value.length >= 8 && txtEncPassphrase.value === txtEncPassphraseRetype.value) {
            spnCheckRetype.classList.add("greenspan");
            spnCheckRetype.classList.remove("redspan");
            spnCheckRetype.innerHTML = '&#10004;';
        } else {
            spnCheckRetype.classList.remove("greenspan");
            spnCheckRetype.classList.add("redspan");
            spnCheckRetype.innerHTML = '&#10006;';
        }

        btnEncrypt.disabled = !(txtEncPassphrase.value.length >= 8 && txtEncPassphrase.value === txtEncPassphraseRetype.value && objFile);
    }

    function decValidate() {
        btnDecrypt.disabled = !(inputDecPassphrase.value.length > 0 && inputDecUuid.value.length === 36);
    }

    //drag and drop functions:
    //https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API/File_drag_and_drop
    function drop_handler(ev) {
        console.log("Drop");
        ev.preventDefault();
        // If dropped items aren't files, reject them
        const dt = ev.dataTransfer;
        if (dt.items) {
            // Use DataTransferItemList interface to access the file(s)
            for (let i = 0; i < dt.items.length; i++) {
                if (dt.items[i].kind === "file") {
                    const f = dt.items[i].getAsFile();
                    console.log("... file[" + i + "].name = " + f.name);
                    objFile = f;
                }
            }
        } else {
            // Use DataTransfer interface to access the file(s)
            for (let i = 0; i < dt.files.length; i++) {
                console.log("... file[" + i + "].name = " + dt.files[i].name);
            }
            objFile = file[0];
        }
        displayFile()
        if (mode === 'encrypt') {
            encValidate();
        } else if (mode === 'decrypt') {
            decValidate();
        }
    }

    function dragover_handler(ev) {
        console.log("dragOver");
        // Prevent default select and drag behavior
        ev.preventDefault();
    }

    function dragend_handler(ev) {
        console.log("dragEnd");
        // Remove all of the drag data
        const dt = ev.dataTransfer;
        if (dt.items) {
            // Use DataTransferItemList interface to remove the drag data
            for (let i = 0; i < dt.items.length; i++) {
                dt.items.remove(i);
            }
        } else {
            // Use DataTransfer interface to remove the drag data
            ev.dataTransfer.clearData();
        }
    }

    function selectFile(files) {
        objFile = files[0];
        displayFile()
        if (mode === 'encrypt') {
            encValidate();
        } else if (mode === 'decrypt') {
            decValidate();
        }
    }

    function displayFile() {
        let s;
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        const bytes = parseInt(objFile.size);
        const i = Math.floor(Math.log(bytes) / Math.log(1024));
        if (i === 0) {
            s = bytes + ' ' + sizes[i];
        } else {
            s = (bytes / Math.pow(1024, i)).toFixed(2) + ' ' + sizes[i];
        }

        if (mode === 'encrypt') {
            spnEncFilename.textContent = objFile.name + ' (' + s + ')';
        } else if (mode === 'decrypt') {
            spnDecFilename.textContent = objFile.name + ' (' + s + ')';
        }
    }

    function readFile(file) {
        return new Promise((resolve, reject) => {
            const fr = new FileReader();
            fr.onload = () => {
                resolve(fr.result)
            };
            fr.readAsArrayBuffer(file);
        });
    }

    async function encryptFile() {
        btnEncrypt.disabled = true;

        const plainTextBytesTemp = await readFile(objFile)
                .catch(function (err) {
                    console.error(err);
                });
        const plainTextBytes = new Uint8Array(plainTextBytesTemp);

        const pbkdf2iterations = 10000;
        const passphraseBytes = new TextEncoder("utf-8").encode(txtEncPassphrase.value);
        const pbkdf2salt = window.crypto.getRandomValues(new Uint8Array(8));

        const passphraseKey = await window.crypto.subtle.importKey('raw', passphraseBytes, {name: 'PBKDF2'}, false, ['deriveBits'])
                .catch(function (err) {
                    console.error(err);
                });
        console.log('passphrase key imported');

        let pbkdf2bytes = await window.crypto.subtle.deriveBits({
            "name": 'PBKDF2',
            "salt": pbkdf2salt,
            "iterations": pbkdf2iterations,
            "hash": 'SHA-256'
        }, passphraseKey, 384)
                .catch(function (err) {
                    console.error(err);
                });
        console.log('pbkdf2bytes derived');
        pbkdf2bytes = new Uint8Array(pbkdf2bytes);

        const keyBytes = pbkdf2bytes.slice(0, 32);
        const ivBytes = pbkdf2bytes.slice(32);

        const key = await window.crypto.subtle.importKey('raw', keyBytes, {
            name: 'AES-CBC',
            length: 256
        }, false, ['encrypt'])
                .catch(function (err) {
                    console.error(err);
                });
        console.log('key imported');

        let cipherBytes = await window.crypto.subtle.encrypt({name: "AES-CBC", iv: ivBytes}, key, plainTextBytes)
                .catch(function (err) {
                    console.error(err);
                });

        if (!cipherBytes) {
            spnEncStatus.classList.add("redspan");
            spnEncStatus.innerHTML = '<p>Error encrypting file.  See console log.</p>';
            return;
        }

        console.log('plaintext encrypted');
        cipherBytes = new Uint8Array(cipherBytes);

        const resultBytes = new Uint8Array(cipherBytes.length + 16);
        resultBytes.set(new TextEncoder("utf-8").encode('Salted__'));
        resultBytes.set(pbkdf2salt, 8);
        resultBytes.set(cipherBytes, 16);

        const blob = new Blob([resultBytes], {type: 'application/download'});
        aEncSaveFile.href = URL.createObjectURL(blob);
        aEncSaveFile.download = objFile.name + '.enc';

        spnEncStatus.classList.add("greenspan");
        aEncSaveFile.hidden = false;

        const formData = new FormData();
        formData.append("file", blob);
        formData.append("fileName", objFile.name);
        fetch('/files', {method: "POST", body: formData}).then((res) => {
            res.text().then(fileName => {
                spnEncStatus.innerHTML = `<p>File encrypted. Generated id (you need this to download the file):`
                        + `<br/><br/><input id="uuid" size=36 value="${fileName}"/>`
                        + `<button onclick="copyUuid()">Copy to clipboard</button></p>`;
            })
        })
    }

    async function getFileFromUuid() {
        const res = await fetch('/files/' + inputDecUuid.value, {method: "GET"})
        const header = res.headers.get('Content-Disposition');
        const parts = header?.split(';');
        const filename = parts[1].split('=')[1];
        const parsedFilename = filename.substring(1, filename.length - 1)   // Removes the underscores
        console.log(parsedFilename, parts, header);
        return {blob: await res.blob(), fileName: parsedFilename};
    }

    async function decryptFile() {
        const res = await getFileFromUuid()

        objFile = new Blob([
            res.blob
        ], {type: 'application/download'})

        objFile.name = res.fileName;
        btnDecrypt.disabled = true;

        const cipherBytesTemp = await readFile(objFile)
                .catch(function (err) {
                    console.error(err);
                });
        let cipherBytes = new Uint8Array(cipherBytesTemp);

        const pbkdf2iterations = 10000;
        const passphraseBytes = new TextEncoder("utf-8").encode(inputDecPassphrase.value);
        const pbkdf2salt = cipherBytes.slice(8, 16);


        const passphraseKey = await window.crypto.subtle.importKey('raw', passphraseBytes, {name: 'PBKDF2'}, false, ['deriveBits'])
                .catch(function (err) {
                    console.error(err);

                });
        console.log('passphrasekey imported');

        let pbkdf2bytes = await window.crypto.subtle.deriveBits({
            "name": 'PBKDF2',
            "salt": pbkdf2salt,
            "iterations": pbkdf2iterations,
            "hash": 'SHA-256'
        }, passphraseKey, 384)
                .catch(function (err) {
                    console.error(err);
                });
        console.log('pbkdf2bytes derived');
        pbkdf2bytes = new Uint8Array(pbkdf2bytes);

        const keyBytes = pbkdf2bytes.slice(0, 32);
        const ivBytes = pbkdf2bytes.slice(32);
        cipherBytes = cipherBytes.slice(16);

        const key = await window.crypto.subtle.importKey('raw', keyBytes, {
            name: 'AES-CBC',
            length: 256
        }, false, ['decrypt'])
                .catch(function (err) {
                    console.error(err);
                });
        console.log('key imported');

        let plainTextBytes = await window.crypto.subtle.decrypt({name: "AES-CBC", iv: ivBytes}, key, cipherBytes)
                .catch(function (err) {
                    console.error(err);
                });

        if (!plainTextBytes) {
            spnDecStatus.classList.add("redspan");
            spnDecStatus.innerHTML = '<p>Error decrypting file.  Password may be incorrect.</p>';
            return;
        }

        console.log('ciphertext decrypted');
        plainTextBytes = new Uint8Array(plainTextBytes);

        const blob = new Blob([plainTextBytes], {type: 'application/download'});
        aDecSaveFile.href = URL.createObjectURL(blob);
        aDecSaveFile.download = objFile.name;

        spnDecStatus.classList.add("greenspan");
        spnDecStatus.innerHTML = '<p>File decrypted.</p>';
        aDecSaveFile.hidden = false;
    }

    function copyUuid() {
        /* Get the text field */
        const copyText = document.getElementById("uuid");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        document.execCommand("copy");
    }
</script>